body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;

  #background-image-boat {
    flex: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://images.unsplash.com/photo-1535262412227-85541e910204?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;

    h2 {
      color: $white;
      font-size: 2rem;
    }
  }
}

.login-wrapper h2 {
    color: $gray;
  }
