<header id="background-img">
  <div class="header this-container">
    <div class="search-bar">
      <%= render partial: "shared/search_bar", locals: { location: @locations } %>
    </div>
    <div class="text">
      <p>Number 1 Source for Boat Rentals</p>
    </div>
  </div>
</header>
