<footer class="footer container">
  <div class="footer-links">
    <a href="#" class="flexlink"><i class="fa-solid fa-location-dot fa-1x"></i>Destinations</a>
    <a href="#" class="flexlink"><i class="fa-solid fa-lock fa-1x"></i> Privacy</a>
    <a href="#" class="flexlink"><i class="fa-solid fa-info fa-1x"></i> Company</a>
    <a href="#" class="flexlink"><i class="fa-solid fa-earth-europe fa-1x"></i> Sitemap</a>
  </div>
  <div class="footer-copyright">
    &copy; 2023 Boatbnb, Inc.
  </div>
</footer>
