<form class="search-form" action="/boats" accept-charset="UTF-8" method="get">
  <div class="input-fields">
    <div>
      <input type="text" name="location" id="location" placeholder="Search city" class="location-input input">
    </div>
    <div>
      <input type="text" name="checkin_date" id="check-in_date" placeholder="Check In Date" class="date-input input" data-controller="flatpickr" readonly="readonly">
    </div>
    <div>
      <input type="text" name="checkout_date" id="check-out_date" placeholder="Check Out Date"  class="date-input input" data-controller="flatpickr" readonly="readonly">
    </div>
  </div>
  <button type="submit" name="commit" class="search-button" data-action="click->flatpickr#search" data-disable-with="Searching...">
  <i class="fa fa-search"></i> Search
  </button>
</form>
