.footer {
  background: $white;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  margin-top: auto;
  padding: 0vh 0vh;
}

.footer-links {
  display: flex;
  align-items: center;
  gap: 3vw;

  a {
    color: $logo;
    opacity: 0.75;
    text-decoration: none;
    font-size: 0.88rem;

    &:hover {
      opacity: 1;
    }
  }

  .flexlink {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.footer-copyright {
  display: flex;
  align-items: center;
  color: $logo;
  opacity: 0.66;
  font-size: 0.88rem;
}

@media (min-width: 576px) {

  .footer-links {
    gap: 5vw;

    a {
      font-size: 0.88rem;
    }
  }

  .footer-links .flexlink {
    flex-direction: row;
    gap: 0.5vw;
  }

  .footer-copyright {
    font-size: 0.88rem;
  }
}

@media (min-width: 768px) {

  .footer-links {
    gap: 5vw;

    a {
      font-size: 1rem;
    }
  }

  .footer-links .flexlink {
    flex-direction: row;
    gap: 0.75vw;
  }

  .footer-copyright {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {

  .footer-links {
    gap: 5vw;

    a {
      font-size: 1.5rem;
    }
  }

  .footer-links .flexlink {
    flex-direction: row;
    gap: 0.88vw;
  }

  .footer-copyright {
    font-size: 1.2rem;
  }
}
