.navbar-boatbnb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 10vh;

  @media (min-width: 576px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.boat-logo {
  display: flex;
  justify-content: center;
  font-family: $logo-font;
  font-size: 2.1rem;
  color: $logo;
  gap: 0.75vw;

  p {
    font-size: 2.25rem;
    margin: 0vh 0vw;
  }

  @media (min-width: 576px) and (max-width:768px) {
    font-size: 2.1rem;

   p {
     font-size: 2.25rem;
   }
  }

  @media (min-width: 768px) {
    font-size: 2.88rem;

    &:hover {
      color: $button-hover;

      .fa-sailboat {
        color: $button-hover;
      }
    }

    p {
      font-size: 3rem;
    }
  }
}

.nav-link {
  display: flex;
  font-size: 1.25rem;
  font-weight: bold;
  gap: 3vw;

  a {
    text-decoration: none;
    color: $black;
    opacity: 0.66;

    &:hover {
      opacity: 0.88;
    }
  }

  @media (min-width: 576px) {
    align-self: flex-end;
    font-size: 1.75rem;
  }

  @media (min-width: 768px) {
    font-size: 2rem;
  }
}
